h4 {
  font-size: 1.38rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 1.1rem;
  }
img[alt*="window"] {
   width: 90%;
   margin: 5px;
   text-align: left;
}
p {
  text-align: left;
  margin: 6px;
}
ul:not(.browser-default) {
    padding-left: 6px;
    list-style:square inside;
}

ul:not(.browser-default)>li {
    list-style: square inside;
    padding-left: 6px;
}
